@import 'variables';

.footer {
    width: 100%;
    display: flex;
    background-color: $dark-grey;
    height: 200px;
    padding-top: 40px;
}

.footer-text {
    flex: 1;
    padding-left: 40px;
}

.footer-text-title {
    margin: 0;
    font-size: 24px;
    color: $grey;
    
}

.footer-text-email {
    font-size: 24px;
    color: $grey;
    font-weight: 700;
    position: relative;
    transition: all 0.4s;


    &::after {
        content: '';
        position: absolute;
        background-color: $main;
        left: 5%;
        right: 5%;
        bottom: -4px;
        transform: scale(0);
        height: 2px;
        transition: all 0.4s;
    }

    &:hover {
        color: $main;
    
        &::after {
            transform: scale(1);
        }
    }
}

.footer-text-copyright{
    color: #36404B;
    margin-top: 30px;
}

.footer-links {
    flex: 2;
}

.links-list {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    justify-content: center;
    height: 100%;
}

.links-list-item {
    margin-left: 20px;
    height: 50px;
    width: 50px;
    

    & .links-list-item-link {
        font-size: 30px;
        color: $dark-grey;
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        background-color: $grey;
        border-radius: 50%;     
        transition: all 0.4s;   

        & i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
        }

        &:hover {
            background-color: $main;
            color: $white;
        }
    }
}