@import 'variables';

.main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url(../images/main.jpg) no-repeat;
    background-size: cover;
}

.main-title {
    display: flex;
    height: 100%;
    align-items: center;
}

.circle {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $transparent;
}

.main-title-text {
    color: $white;
    text-align: center;
    text-transform: uppercase;
}

.down-arrow {
    position: absolute;
    bottom: 3%;
    font-size: 70px;
    color: $transparent;
    transition: all 0.4s;

    &:hover{
        bottom: 4%;
        font-size: 80px;
        color: $dark-grey;
    }
}

