@import 'variables';

.projects {
    background-color: $light-grey;
    align-items: center;
    height: 150vh;
}

.projects-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}