.projects {
    background-color: #F5F5F5;
    align-items: center;
}

.projects-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}